<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Readme"
        tools:targetApi="31">
        <activity
            android:name=".ui.community.CreateFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.BookAppointActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.TabLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.community.CreateActivity"
            android:exported="true" />
        <activity
            android:name=".ui.community.NavigationDrawerActivity"
            android:exported="false" /> <!-- MainActivity에 대한 선언 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme" /> <!-- StartActivity에 대한 선언 -->
        <activity
            android:name=".StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme" /> <!-- Kakao SDK 초기화 -->
        <!-- <meta-data -->
        <!-- android:name="com.kakao.sdk.AppKey" -->
        <!-- android:value="@string/kakao_app_key"/> -->
        <!-- LoginActivity를 런처로 설정 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>