<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Android 13(T) 이상에서 사용되는 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <!-- 지도 관련 설정 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".ui.GlobalApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Readme"
        tools:targetApi="31"
        android:enableOnBackInvokedCallback="true">

        <activity
            android:name=".ui.community.BookDetailActivity"
            android:exported="true" />
        <activity
            android:name=".ui.community.BookAppointDoneActivity"
            android:exported="false" />

        <activity
            android:name=".ui.community.CreateActivity"
            android:exported="true" />

        <activity
            android:name=".ui.community.ChatActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".ui.community.MapMarkerActivity"
            android:exported="true" />

        <activity
            android:name=".ui.community.BookAppointActivity"
            android:exported="true" />

        <activity
            android:name=".ui.community.TabLayoutActivity"
            android:exported="true" />

        <activity
            android:name=".ui.search.book.BookDetailActivity"
            android:exported="true" />

        <!-- 구글 geo API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAnr87XpMn-jRGdCtk6HbxNf3OezfHcKgI" />

        <!-- MainActivity에 대한 선언 -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme">
        </activity>

        <!-- LoginActivity에 대한 선언 -->
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme">
        </activity>

        <activity
            android:name=".ui.category.CategoryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme">
        </activity>
        <activity
            android:name=".ui.userinfo.UserinfoActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme">
        </activity>

        <!-- Kakao SDK 초기화 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="${KAKAO_NATIVE_APP_KEY}"/>

        <!-- StartActivity를 런처로 설정 -->
        <activity
            android:name=".ui.start.StartActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Readme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Kakao 로그인 리디렉션 처리 -->
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data android:host="oauth"
                    android:scheme="kakao${KAKAO_NATIVE_APP_KEY}" /> <!-- 여기를 실제 네이티브 앱 키로 대체 -->
            </intent-filter>
        </activity>

    </application>

</manifest>
